# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
*.xlsx
*.txt
**/node_modules/
**/.env

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
**/frontend/.idea/
**/backend/.idea/

# VS Code related
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# Android related
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/raw/google_services.json
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS/macOS related
**/ios/Flutter/ephemeral/
**/macos/Flutter/ephemeral/
**/ios/Pods/
**/macos/Pods/
**/ios/DerivedData/
**/macos/DerivedData/
# Podfile.lock is often kept in Flutter to ensure consistent pod versions
# **/Podfile.lock
